body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

html {
	// чтобы не дергался экран
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

main {
flex: 1 0 auto;
}


#stage {
display: block;
width: 95%;
margin: 10px;
height:auto;
border: 1px solid #b4a448;
border-radius: 10px;
}

div.dropdown-menu.show {
    width: 320px;
}


/*
 .row > div {
    border: solid 1px rgb(212, 238, 213); 
}

.row {
    border: dotted 1px rgb(207, 207, 245);
} */
